.submit {
    width: 200px;
    background-color: #4BA3C3;
    color: white;
    padding: 12px 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}
input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: auto;
    display: block;
    border: 2px solid lightpink;
    border-radius: 10px;
    font-size: 24px;
    border-top-width: 0px;
    font-family: 'Sniglet', cursive;
}
body{
    background-color: black;
    text-align: center;
    font-family: 'Sniglet', cursive;
    margin-top: 30px;
}
h1{
    font-size:32px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:10px;
    padding-bottom:10px;
}
h3{
    margin-top: -30px; 
}
a{
    color: black;
}
a:visited{
    color: black;
}

.container{
    margin:auto; 
    width:90%; 
    border-radius:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin-bottom:10px;
}

@media screen and (min-width: 435px){
    .container{
        max-width:400px; 
    }
}

.badge {
    display: block;
    cursor: pointer;
    padding: 0;
    font-size: 30px;
    font-weight: lighter !important;
    line-height: 50px;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: lightgray;
    border-radius:50px;
    position: relative;
/*                top: -3px;*/
    height: 50px;
    width: 50px;
    text-decoration: none;
    margin: auto;
    margin-top: 20px;
}
#info{
    max-width: 30em;
    margin: auto;
    font-family: sans-serif;
    text-align: left;
    padding: 20px;
}
#info h4{
    font-size:30px;
    font-weight: 500;
}
#info p{
    font-size:20px;
    font-weight: 300;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 50px;
margin: -13px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}